html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --accent: #646cff;
  --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);
  --muted-text: rgba(255, 255, 255, 0.82);

  --border-color: rgba(255, 255, 255, 0.12);
  --surface-bg: rgba(255, 255, 255, 0.04);
  --surface-bg-2: rgba(255, 255, 255, 0.03);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-theme="light"] {
  --bg: #ffffff;
  --text: #213547;
  --muted-text: rgba(33, 53, 71, 0.82);

  --border-color: rgba(0, 0, 0, 0.12);
  --surface-bg: rgba(0, 0, 0, 0.03);
  --surface-bg-2: rgba(0, 0, 0, 0.03);
}

html[data-theme="dark"] {
  --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);
  --muted-text: rgba(255, 255, 255, 0.82);

  --border-color: rgba(255, 255, 255, 0.12);
  --surface-bg: rgba(255, 255, 255, 0.04);
  --surface-bg-2: rgba(255, 255, 255, 0.03);
}

@media (prefers-color-scheme: light) {
  html:not([data-theme]) {
    --bg: #ffffff;
    --text: #213547;
    --muted-text: rgba(33, 53, 71, 0.82);

    --border-color: rgba(0, 0, 0, 0.12);
    --surface-bg: rgba(0, 0, 0, 0.03);
    --surface-bg-2: rgba(0, 0, 0, 0.03);
  }
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  color: var(--text);
  background-color: var(--bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--surface-bg-2);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
